.header {
}

.icon {
  float: left;
  width: 60px;
  margin-right: 20px;
  background: #d8d8d8;
  border-radius: 50%;
}

.wrapper {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.description {
}

.description span {
  font-size: 30px;
}

.degreesC {
  font-size: 40px;
}

.degreesC::after {
  content: '°C'
}

.essential {
  font-size: 20px;
}

.essential > div {
  margin-bottom: 8px;
}

.essential_feels_like {
  font-size: 24px;
}

.essential_feels_like span {
  font-size: inherit;
}

.essential_temp {
  font-size: 30px;
}

.essential_humidity {
  font-size: 24px;
}
